body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
  
 h2 {
    color: #00a2c6
 }
  
 h3 {
    color: #00a2c6
 }
  p{
     font-family: "write";
     font-size: 20 px;
  }
 footer {
    padding: 10px;
    color: white;
    background-color: #05414e
 }
 @font-face{
    font-family: "write";
    src: url('ArchitectsDaughter-Regular.ttf');   
 }
 nav a {
   font-size: 20px;
   font-weight: 400;
   text-decoration: none;
}